<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Psicóloga</h3> <h5>  2017</h5>
            </li>
            <p>
                Universidad del Valle
            </p>
            
            <p>
                Cali - Colombia
            </p>
        </ul>
        <ul>
            <li>
                <h3>Maestria en psicología cognitiva</h3>   <h5> 2021</h5>
            </li>
            <p>
                Universidad de Buenos Aires - Posgrados
            </p>
            <p>
                Buenos Aires - Argentina
            </p>
        </ul>
        <ul>
            <li>
                <h3>Programación</h3>   <h5> 2022</h5>
            </li>
            <p>
                BA Multiplica
                Argentina Programa
            </p>
            <p>
                Buenos Aires - Argentina
            </p>
        </ul>
    </div>
</div>