<div class="row">
    <h2>Proyectos realizados</h2>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1"></div>
        <div>
            <ul>
                <li>
                    <h3>Area de Programacion</h3> 
                </li>
                <p>
                    -Desarrollo de pagina wed biografica con HTML y CSS
                </p>
                <p>
                    -Desarrollo de calculadora de funcionalidad con operaciones basicas con Bootstrap
                </p>
            </ul>
        </div>
    </div>
</div>


