<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Psicóloga</h3> <h5>  2019</h5>
            </li>
            <p>
                FUNDACION ABBA - Jornada Parcial
            </p>
            <p>
                Intervención focalizada e individual con niños, niñas y adolescentes en situación de discapacidad 
            </p>
            <p>
                Buenos Aires - Argentina
            </p>
        </ul>
        <ul>
            <li>
                <h3>Maestra Integradora</h3>   <h5>   2020 - 2022</h5>
            </li>
            <p>
                INTEGRACION ZENIT - Media Jornada
            </p>
            <p>
                Apoyo escolar en modalidad presencial y virtual a niños/as con dificultades cognitivas.
            </p>
            <p>
                Buenos Aires - Argentina
            </p>
        </ul>
    </div>
</div>
