<div class="row">
       <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Foto de perfil.png" class="img-fluid"  id="FotoPerfil">
    </div> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3 id="Nombre">Daiana Erazo</h3>
        <p>Full Stack Developer JR</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>
                Psicóloga, con con 6 años de experiencia 
                en el campo de la salud mental.
                Recientemente incurcionando en el mundo de la programacion.
            </p>
        </span> 
    </div>
</div>
 